.bg-index{
  background-image: url(../img/start_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-side{
  background-image: url(../img/side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.remove-dot{
  list-style: none
}

.side-height{
  height: 100vh;
}


.hidden{
  display: none;
}

.flag-width{
  width: 15%;
}

.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
      opacity: 0;
      transform: translateX(-500px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }

}

@media (min-width: 768px){
  .phone-nav{
    display: none;
  }
}