.fade-in-image { animation: fadeIn 5s; }


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.bg-salmon{
  background-color: salmon;
}

.text-salmon{
  color: salmon;
}

.border-salmon{
  border: solid salmon;
}

.overlay{
  position: absolute;
  top: 110px;

}

.hidden{
  display: none;
}

.hoverTranslate:hover{
  background-color: #21837C;
}

.bg-creme{
  background-color: #23150a34;
}

.bg-green{
  background-color: #21837C;
}

.text-green{
  color: #21837C;
}

.border-green{
  border: solid #21837C;
}