*{
  font-family: lemonMilk;
  background-color: var(--blue);
}

:root{
  --blue: #0a3380;
  --yellow: #f1b434;
  --l-gray: #e0ddd5;
  --d-gray: #2e3546;
  --brown: #703529;
}

.link-color{
  color: var(--yellow);
  text-decoration: none;
}

.link-color:hover{
  color: var(--yellow);
  text-decoration: underline;
}


.card-btn{
  background-color: rgb(184, 182, 216);
  border: 0px;
  color: white;
}

.card-btn:hover{
  background-color: white;
  color: rgb(184, 182, 216);
  border: 1px solid rgb(184, 182, 216);
}

.bg-side-block{
  background-color:rgb(184, 182, 216);
}

.bg-side{
  background-image: url(../img/side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.remove-dot{
  list-style: none
}

.side-height{
  height: 100vh;
}

.text-underline{
  text-decoration: underline;
}

.hidden{
  display: none;
}

.flag-width{
  width: 15%;
}

/* animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in { animation: fadeIn 4s; }


/* mediaquerys */
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }


}

/* fonts  */
@font-face{
  font-family: lemonMilk;
  src: url(../fonts/LemonMilk.otf);
}